fastapi
uvicorn[standard]
python-dotenv
groq
youtube-transcript-api
yt-dlp
opencv-python-headless
scikit-image
supabase
langgraph
langchain
langchain-groq
pydantic
pydantic-settings
python-multipart
httpx
markdown